<div class="layout-row flex">
  <div class="flex">
  {{#sortable-objects sortableObjectList=keyList sortEndAction='sortEndAction' sortingScope='a' }}
    {{#each keyList as |item|}}
      {{#draggable-object content=item  overrideClass='sortObject' isSortable=true sortingScope='a'}}
      {{#paper-card as |card|}}
	        {{#card.title as |title|}}
	          {{#title.text as |text|}}
	            {{#text.headline}}{{item.title}}{{/text.headline}}
	          {{/title.text}}
	        {{/card.title}}
      	{{/paper-card}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
  
  {{!-- 	{{#each jsonKeys as |j|}}
			{{#draggable-object content=j  dragStartAction='dragStart' dragEndAction='dragEnd' overrideClass='dragObject'}}
			{{#paper-card as |card|}}
		        {{#card.title as |title|}}
		          {{#title.text as |text|}}
		            {{#text.headline}}{{j.title}}{{/text.headline}}
		          {{/title.text}}
		        {{/card.title}}
	      	{{/paper-card}}
			{{/draggable-object}}
	{{/each}} --}}
  </div>
  <div class="flex">
  	<div class="layout-column flex" style="height:100%">
  		<div class="flex">
  		{{#sortable-objects sortableObjectList=columnKeyList sortEndAction='sortEndActionForCol' sortingScope='a'}}
      {{#each columnKeyList as |item|}}
        {{#draggable-object content=item overrideClass='sortObject' isSortable=true sortingScope='a'}}
        {{#paper-card as |card|}}
		        {{#card.title as |title|}}
		          {{#title.text as |text|}}
		            {{#text.headline}}{{item.title}}{{/text.headline}}
		          {{/title.text}}
		        {{/card.title}}
	      	{{/paper-card}}
          
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}

    		{{!-- Just Simple Drag --}}
  			{{!-- {{#draggable-object-target action="dragResultForCols" resultText='Drag is Complete' dragOverAction='draggingOverTarget' dragOutAction='leftDragTarget' overrideClass='dropTarget'}}
				{{#each colArray as |r|}}
					{{#paper-card as |card|}}
				        {{#card.title as |title|}}
				          {{#title.text as |text|}}
				            {{#text.headline}}{{r}}{{/text.headline}}
				          {{/title.text}}
				        {{/card.title}}
			      	{{/paper-card}}
				{{/each}}
			{{/draggable-object-target}} --}}
  		</div>
  		<div class="flex" style="border-top:1px solid black">
  		{{#sortable-objects sortableObjectList=rowKeyList sortEndAction='sortEndActionForRow' sortingScope='a'}}
      {{#each rowKeyList as |item|}}
        {{#draggable-object content=item overrideClass='sortObject' isSortable=true sortingScope='a'}}
          {{#paper-card as |card|}}
		        {{#card.title as |title|}}
		          {{#title.text as |text|}}
		            {{#text.headline}}{{item.title}}{{/text.headline}}
		          {{/title.text}}
		        {{/card.title}}
	      	{{/paper-card}}
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
			{{!-- Just Simple Drag --}}
			{{!-- {{#draggable-object-target action="dragResultForRows" resultText='Drag is Complete' dragOverAction='draggingOverTarget' dragOutAction='leftDragTarget' overrideClass='dropTarget'}}
				{{#each rowArray as |r|}}
					{{#paper-card as |card|}}
				        {{#card.title as |title|}}
				          {{#title.text as |text|}}
				            {{#text.headline}}{{r}}{{/text.headline}}
				          {{/title.text}}
				        {{/card.title}}
			      	{{/paper-card}}
				{{/each}}
			{{/draggable-object-target}} --}}
			{{!-- Just Simple Drag --}}
  		</div>
  	</div>
  </div>
  
</div>
